{% extends 'base.html' %}

{% block content %}
<div class="container">

<h2>Вы покинули свой аккаунт</h2>
<br>
<div>
<p><a href="/accounts/login/" class="btn btn-default" role="button">Войти</a>  <a href="/register/" class="btn btn-default" role="button">Регистрация</a></p>
</div>
</div>
{% endblock %}
