{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="form-signin-heading">Добро пожаловать</h1>
    <p>Вы можете войти в свой аккаунт!</p>
<form class="form-signin" method="post"> 
    
    <h2 class="form-signin-heading">Авторизация</h2>
    {% csrf_token %}
    {{ form.as_p }} 
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
</div>
</div>
<br>
<br>
{% endblock %}
