{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Принять</button>
  </form>
</div>
{% endblock %}
