{% extends 'base.html' %}

{% block content %}
<div class="container">
   <h1>Создать новый альбом</h1>
   <form method="POST" class="post-form">{% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="save btn btn-default">Сохранить</button>
   </form>
</div>
{% endblock %}
