{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-12">
        <h1 class="page-header">{% blocktrans with show_year=year|date:"Y" %}Альбомы {{ show_year }} года{% endblocktrans %}</h1>
    </div>

	<div class="row">

		<aside class="col-md-2">

			<h4>Фильтр по месяцам</h4>
			<ul>
				{% for date in date_list %}
					<li><a href="{% url 'gallery:gallery-archive-month' date.year date|date:"m"|lower %}">{{ date|date:"F" }}</a></li>
				{% endfor %}
			</ul>

		</aside>

		<main class="col-md-10">

			{% if object_list %}
				{% for album in object_list %}
			        {% include "gallery/includes/album_sample.html" %}
			    {% endfor %}
			{% else %}
			    <p>Не найдено по запросу фотографии</p>
			{% endif %}

		    <div><a href="{% url 'gallery:pl-gallery-archive' %}" class="btn btn-default">Все альбомы</a></div>

		</main>

	</div>
</div>
{% endblock %}
