{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<div class="container">
<div class="row col-lg-12">
        <h1 class="page-header">{{ album.title }}</h1>
        <p class="muted"><small>Создано {{ album.created_d }}</small></p>        
        
{% for photo in album.public %}
	        <a href="{{ photo.get_absolute_url }}">
	             <img src="{{ photo.image.url }}" width="140" height="100" class="thumbnail" alt="{{ photo.title }}">
	        </a>
	    {% endfor %} 
	        
<br><br><br><br>


<div>
            {% if user.is_authenticated %}
	    	<a href="{% url 'gallery:album-list' %}" class="btn btn-default">Все альбомы</a>  
 	    	<a href="{% url 'gallery:album_update' album.id %}" class="btn btn-default">Изменить</a>
	    	<a href="{% url 'gallery:album_delete' album.id %}" class="btn btn-default">Удалить</a>
            {% else %}
            	<a href="{% url 'gallery:album-list' %}" class="btn btn-default">Все альбомы</a> 
            {% endif %}
 	</div></div></div>

 


{% endblock %}
