{% extends "base.html" %}
{% load i18n %}

{% block title %}Новые альбомы{% endblock %}

{% block content %}


  <div class="container">
      <div id="page_content">
          <div class="row col-lg-12">
              {% if user.is_authenticated %}
              <div style="float:right;"><a href="{% url 'gallery:album_new' %}" class="btn btn-default">Создать альбом</a></div>
              <h1 class="page-header">Новые альбомы</h1> 
              {% else %}
              <h1 class="page-header">Новые альбомы</h1>
              {% endif %}
          </div>
	  <div class="row">
	      <aside class="col-md-2">
		  <h4>Фильтр по годам</h4>
		  <ul>
			{% for date in date_list %}
				<li><a href="{% url 'gallery:pl-gallery-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
		  </ul>
              </aside>
              <main class="col-md-10">		      	
			{% if latest %}
			    {% for album in latest %}
			    	{% include "gallery/includes/album_sample.html" %}
			    {% endfor %}
			{% else %}
			    <p>No galleries were found</p>
{% endif %}
			
	      </main>
	  </div>
      </div>
  </div>
	
{% endblock %}
