{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-12">
        {% if user.is_authenticated %}
        <div style="float:right;"><a href="{% url 'gallery:album_new' %}" class="btn btn-default">Создать альбом</a></div>
        <h1 class="page-header">Все альбомы</h1>
        {% else %}
        <h1 class="page-header">Все альбомы</h1>
        {% endif %}
    </div>

    {% if album_list %}
        {% for album in album_list %}
            <div class="row col-lg-12">
                <h2><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h2>
                <p class="muted"><small>{% trans "Создано" %} {{ album.created_d }}</small></p>
                {% if album.description %}<p>{{ album.description|safe }}</p>{% endif %}
                
                    {% for photo in album.public %}
	        <a href="{{ photo.get_absolute_url }}">
	             <img src="{{ photo.image.url }}" width="140" height="100" class="thumbnail" alt="{{ photo.title }}">
	        </a>
	    {% endfor %} 
                
            </div>
        {% endfor %}
    {% else %}
        <div class="row col-lg-12">No galleries were found</div>
    {% endif %}
  </div>  
{% endblock %}
