{% extends 'base.html' %}


{% block content %}
<div class="container">
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
</div>
{% endblock %}
