{% extends "base.html" %}
{% load i18n %}

{% block title %}Все фотографии{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-12">
        {% if user.is_authenticated %}
        <div style="float:right;"><a href="{% url 'gallery:photo_new' %}" class="btn btn-default">Добавить фото</a></div>
        <h1 class="page-header">Все фотографии</h1>
        {% else %}
        <h1 class="page-header">Все фотографии</h1>
        {% endif %}
        
    </div>

	{% if photo_list %}
		<div class="row col-lg-12">
		    {% for photo in photo_list %}
		        <a href="{{ photo.get_absolute_url }}">
		             <img src="{{ photo.image.url }}" width="140" height="100" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}
		</div>
	{% else %}
		<div class="row">No photos were found</div>
	{% endif %}
</div>
{% endblock %}
