{% extends 'base.html' %}


{% block content %}
<div class="container">
<form action="" method="post">{% csrf_token %}
    <p>Вы точно хотите удалить "{{ object }}"?</p>
    <input type="submit" value="Удалить" />
</form>
</div>
{% endblock %}
