<footer class="container">
        <div class="row">
            <ul class="list-unstyled">
              <li class="pull-left">
                <a href="http://djangoproject.com" title="This page uses valid HTML5">
                  <img src=""
                    alt="Django!" height="32" width="32" />
                </a>
              </li>
              <li class="pull-right"><a href="#top">Наверх</a></li>
              <li class="text-center small">&copy; 2014-2017</li>
            </ul>
        </div>
      </footer>
