
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Фотоальбом</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">{% if user.is_authenticated %}
            <li><a href="/">Главная</a></li>
	
            <li class="galleries dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Альбомы<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/album/">Новые альбомы</a></li>
                <li class="sub-page"><a href="/albumlist/">Список всех альбомов</a></li>
              </ul>
            </li>
            <li class="photos dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Фотографии<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photo/">Новые фото</a></li>
                <li class="sub-page"><a href="/photolist/">Список всех фотографии</a></li>
              </ul>
            </li>        
          </ul> 
          <ul class="nav navbar-nav navbar-right">            
            <li class="galleries dropdown"><a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">User: {{ user.username }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="{% url 'gallery:album_new' %}">Создать альбом</a></li>
                <li class="sub-page"><a href="{% url 'gallery:photo_new' %}" >Добавить фото</a></li>
              </ul>
            </li>
            <li><a href="/accounts/logout/">Выход</a></li>
            {% else %}
	    <li><a href="/register/">Регистрация</a></li>
            <li><a href="/accounts/login/">Войти</a></li> </ul>           
           {% endif %}          
        </div>
  </div>
</nav>
