.suret {
padding-top: 10px;

}

.custom_bg {
 position:fixed;
 left:0;
 top:0;
 width:100%;
 height:100%;
 display:block;
 z-index:-1;
 background-position:center;
}
.port_post .custom_bg {
 background:#000000;
}
.custom_bg.img_bg {
 background-size:cover;
}

.def_img {
 background-image:url(../background-01-1920x900.jpg);
}


.form-signin {
  max-width: 280px;
  padding: 0;
  margin: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 5;
}


